:root {
  --stimulastik-primary: #aaeaa3;
  --stimulastik-secondary: #2e402d;
  --stimulastik-tertiary: #6c9568;
  --color-background: #fff;
  --color-text: #000;
  --color-white: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: 'Segoe UI', Inter, Arial, sans-serif;
  min-height: 100vh;
  font-style: italic;
}

/* Use Gabriola for all headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Gabriola, serif;
}
